WebContent/wsdl/EjemploWSBean.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions targetNamespace="http://sintelti.com.mc" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://sintelti.com.mc" xmlns:intf="http://sintelti.com.mc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://sintelti.com.mc" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="crearPersona">
    <complexType>
     <sequence>
      <element name="nombre" type="xsd:string"/>
      <element name="apellidos" type="xsd:string"/>
      <element name="puesto" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="crearPersonaResponse">
    <complexType>
     <sequence>
      <element name="crearPersonaReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="crearPersonaResponse">

      <wsdl:part element="impl:crearPersonaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="crearPersonaRequest">

      <wsdl:part element="impl:crearPersona" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="EjemploWSBean">

      <wsdl:operation name="crearPersona">

         <wsdl:input message="impl:crearPersonaRequest" name="crearPersonaRequest">

       </wsdl:input>

         <wsdl:output message="impl:crearPersonaResponse" name="crearPersonaResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="EjemploWSBeanSoapBinding" type="impl:EjemploWSBean">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="crearPersona">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="crearPersonaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="crearPersonaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="EjemploWSBeanService">

      <wsdl:port binding="impl:EjemploWSBeanSoapBinding" name="EjemploWSBean">

         <wsdlsoap:address location="http://localhost:8080/DemoWebService/services/EjemploWSBean"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
